{% extends 'base.html' %}

{% block title %}
{{title}}
{% endblock title %}

{% load static %}

{% block styles %}
<!--your custom styles here-->
<style>
.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }
</style>
{% endblock styles %}

{%block content %}
<!-- Carousel-->
<div class="container" style="height:480px;">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>Mail Sent Successfully </h1>
                <div class="error-details">
                    Please wait it will automatically redirect to home page
                </div><br>
                <div class="error-actions">
                    <a href="/" class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-home"></span>Take Me Home </a>
                        <a href="{% url 'contact' %}" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-envelope"></span> Contact Support </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}



{% block jscript %}
<!--your custom scripts here-->
<script type="text/JavaScript">
    window.setTimeout(function () {
    location.href = "/";
},4000);
</script>
{% endblock jscript %}